*.pyc
*~
.coverage
artifacts
build
build-stamp
configure-stamp
contrib/template_project/.rmtoo_dependencies
contrib/template_project/latex/requirements.aux
contrib/template_project/latex/requirements.log
contrib/template_project/latex/requirements.out
contrib/template_project/latex/requirements.pdf
contrib/template_project/latex/requirements.toc
debian/files
debian/rmtoo
debian/rmtoo.debhelper.log
debian/rmtoo.postinst.debhelper
debian/rmtoo.preinst.debhelper
debian/rmtoo.prerm.debhelper
debian/rmtoo.substvars
doc/html/reqs
doc/presentations/reqspricing.dot
doc/presentations/reqspricing.png
make_tests.log
.tox
MANIFEST
.ropeproject
