*.pyc
*~
.coverage
add_data.py
artifacts
build
build-stamp
configure-stamp
debian/files
debian/rmtoo
debian/rmtoo.debhelper.log
debian/rmtoo.postinst.debhelper
debian/rmtoo.preinst.debhelper
debian/rmtoo.prerm.debhelper
debian/rmtoo.substvars
doc/html/reqs
doc/presentations/reqspricing.dot
doc/presentations/reqspricing.png
reqs-version.txt
reqspricing.ods
requirements.xml
ttt
