*.pyc
*~
.coverage
.rmtoo_dependencies
build-stamp
configure-stamp
ttt
debian/files
debian/rmtoo.postinst.debhelper
debian/rmtoo.preinst.debhelper
debian/rmtoo.prerm.debhelper
debian/rmtoo.substvars
build
debian/rmtoo
requirements.xml
doc/html/reqs
add_data.py
reqspricing.ods
reqs-version.txt
doc/presentations/reqspricing.dot
doc/presentations/reqspricing.png
